* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #888;
}
main {
  max-width: 60rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: #F1F1F1;
}
